extends ../layout

block content
  h1 Patron: Return Book
  include ../errors
  each loan in loans
    p #[strong Book Title:] #[= loan.Book.title] 

    p #[strong Name:] #[= loan.Patron.first_name] 

    p #[strong Loaned On:] #[= loan.loaned_on]
    
    p #[strong Return By:] #[= loan.return_by]

    form(action="/books/" + loan.id + "/return?_method=PUT", method="post")
      p
        label(for='returned_on') Returned on:
        input#returned_on(type='text' name='returned_on' value=returnOnDate)
      p
        input(type='submit' value='Return Book')
