extends ../layout

block content
  h1 Patron: Return Book
  each loan in loans
    p #[strong Book Title:] #[= book.title] 

    p #[strong Name:] #[= loan.Patron.first_name] 

    p #[strong Loaned On:] #[= loan.loaned_on]
    
    p #[strong Return By:] #[= loan.return_by]

  form(action="/books/" + book.id + "/return?_method=PUT", method="post")
    p
      label(for='returned_on') Returned on:
      input#returned_on(type='text' name='returned_on' value=returnOnDate)
    p
      input(type='submit' value='Return Book')
