form
  p
    label(for='book_id') Books
    select(id="book_id" name="book_id")
      each book in books
        option(value=book.id name='book')= book.title

  p
    label(for='patron_id') Patron
    select(id="patron_id" name="patron_id")
      each patron in patrons
        option(value=patron.id name= 'patron')= patron.first_name + ' ' + patron.last_name
  p
    label(for='loaned_on') Loaned on:
    input#loaned_on(type='text' name='loaned_on' placeholder='Todays Date' value=loanDate)
  p
    label(for='return_by') Return by:
    input#return_by(type='text' name='return_by' value=returnDate)
  p
    input(type='submit' value='Create New Loan')
